{{define "page"}}
<h1 class="py-4 text-4xl font-semibold tracking-tight">Contact Page</h1>
<p class="text-gray-600">Please contact us on <a class="underline text-indigo-700 hover:text-black" href="mailto:test@test.com">test@test.com</a></p>
{{end}}