{{define "page"}}
<h1>Hi, Welcome to the Home page {{.Name}}</h1>
{{template "lorem"}}
{{template "lorem"}}
{{end}}

{{define "lorem"}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, sapien vel lacinia bibendum, velit sapien bibendum sapien, vel bibendum sapien sapien vel sapien. Sed euismod, sapien vel lacinia bibendum, velit sapien bibendum
{{end}}