<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="w-screen min-h-screen flex flex-col ">
    {{template "header" .}}
    <div class="flex-1 p-2">
      {{template "page" .}}
    </div>
    {{template "footer" .}}
  </body>
</html>

{{define "header"}}
<nav class="flex items-center p-4 bg-gradient-to-r from-blue-800 to-indigo-800 text-white">
    <h1 class="text-xl mr-4">LensLocked</h1>
    <div class="flex-grow text-center flex items-center justify-center gap-4">
        <a class=" " href="/">Home</a>
        <a class=" " href="/contact">Contact</a>
        <a class=" " href="/faq">FAQ</a>
        <a class=" " href="/words">Words</a>
    </div>
    <div class="flex items-center gap-4">
        <a class="  " href="/signin">Sign in</a>
        <a class=" px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded" href="/signup">Sign Up</a>
    </div>
  </div>
</nav>
{{ end }}

{{define "footer"}}
<footer class="text-center py-2">CopyRight of Sri Harsh Amur.</footer>

{{ end }}
